torch
torchvision
torchaudio

diffusers
transformers
accelerate
safetensors
huggingface_hub
datasets
sentencepiece

pillow
opencv-python
imageio
scikit-image
scipy
numpy
matplotlib

lpips
torchmetrics
tensorboard
tqdm

einops
omegaconf
pyyaml
requests
pandas
packaging
timm

invisible-watermark
